*
{
    box-sizing: border-box;
    
}
body
{
    margin: 0;
}
header
{
    padding: 50px;
    background-color: rgb(83, 237, 237);
    background-image: url(img2.jpeg);
    background-size: 10% 100%;
    
}
nav
{
    overflow: hidden;
    background-color: rgb(18, 6, 122);
}
nav a /*pc*/
{
    text-align: center;
    float:left; /*to float element left*/
    color: rgb(139, 239, 244);
    text-decoration:underline; /*to remove line like click me*/
    padding: 20px;
    font-weight: 700;
}

